version: '3'
services:
  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    restart: always
    ports:
      - "8081:8081" 
      - "8082:8082" 
      - "8083:8083" 
    volumes:
      - /home/{{ agent_user }}/nexus-data:/nexus-data